footer.footer.content-body
		//- .container-fluid
		.row
			.col-xl-5.col-lg-4.order-2.order-lg-1
				.copy
					| © 2020 Shots Media City. All Rights Reserved.
			.col-xl-7.col-lg-8.order-1.order-lg-2
				ul.footer-menu
					li
						a(href="#") Home
					li
						a(href="#") Studio
					li
						a(href="#") Clients
					li
						a(href="#") Prices
					li
						a(href="#") Booking
					li
						a(href="#") Virtual Tour
					li
						a(href="#") Contact