header.header

			.logo.header__logo
				a(href="/")
					img(src="images/logo.svg", alt="logo")
			ul.lang-toggle.header__lang
				li.lang-toggle__item.lang-toggle_active
					a(href="#").lang-toggle__link
						| Ru
				li.lang-toggle__item
					a(href="#").lang-toggle__link
						| En



